{% extends 'superhero_theme.html'%}
{% load static %}


 {% block main %}

</div>
 
  </div>
    <title>Welcome to the News Feed</title>

    <body>
        <h1 style="text-align: center;" >The Boys are in the news </h1>
        <h2 style="text-align: center;" >Come read about what has been going on</h2>
       <h3 style="text-align: center;" ><Strong>Create a news post or edit one thats already here!</strong></h3>
        <p style="text-align: center;" ><a href="{% url 'blog_add' %}" class="btn btn-primary">New Post</a></p>
        <hr>
       {% for blog in object_list %}

       <div class="card text-white bg-dark mb-2" style="width: 40rem;margin:0 auto;" >
        <div class="card-body" >
        <h1> <a href="{% url 'blog_detail' blog.id %}"> {{ blog.title }}</a> </h1>
        <h2> <a href="{% url 'hero_detail' blog.id %}"> {{ blog.hero }}</a> </h2> 
           <p> {{ blog.text }} </p>
           <li>Author:   {{ blog.author }}</li>
           <li>Posted on:  {{ blog.date }}</li>
           <hr>
           <a href="{% url 'blog_edit' blog.id %}" class="btn btn-primary"> Edit</a>
           <a href="{% url 'blog_delete' blog.id %}" class="btn btn-primary"> Delete</a>
       
           </div>
       </div>
       
       <hr>
       
       {% endfor %}

       
       

    </body>

{% endblock main %}
