{% extends 'superhero_theme.html'%}
{% load static %}


 {% block main %}


    <title>SuperHero List</title>

    <body>
        <h1>
            These are my favorite persona.</h1>
       {% for hero in object_list %}

       <div>
           <h3>
               <a href="{% url 'hero_detail' hero.pk %}">{{ hero.name }}</a>
           </h3>
           <p>Body:</p>
           <p>{{ hero.body }}</p>
       </div>
       
       <hr>
       
       {% endfor %}

       
       

    </body>

{% endblock main %}